body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.card{
    width: 400px;
    color: wheat;
}
.cardcontent{
    position: relative;
    padding: 15rem 5rem;
    transform-style: preserve-3d;
    transition: transform 3s;
}
.card:hover .cardcontent{
    transform: rotateY(180deg);
}

.frontcard, .backcard{
    position: absolute;
    inset: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.frontcard{
    background-image: url(../../assets/images/birthday2.jpg);
    background-color: rgba(255, 163, 42, 0.2);
    align-items: center;
   
}
.frontcard::before{
    content: "";
    position: absolute;
    inset: 1rem;
    border: 3px solid rgb(234, 246, 121);
    transform: translateZ(2rem);
}
.backcard{
    background-image: url(../../assets/images/birthday-cake.png);
    transform: rotateY(180deg);
    gap: 1.5rem;
}
.backcard>h1{
    background-color: rgba(0, 0, 0, 0.499);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}