body{
    font-family: "Moderustic", sans-serif;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
}
#container{
    width: 100%;
    max-width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1.25rem;
    transition: all 400ms;
}
.card{
    flex: 1;
    height: 100%;
    transition: all 400ms;
    cursor: pointer;
    text-align: center;
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: transparent;
}
#deadpool{
    background-image:url(../../assets/images/deadpool-wolverine.jpg);
}
#Haikyuu{
    background-image: url(../../assets/images/haikyuu.jpg);
}
#Avenger{
    background-image: url(../../assets/images/avengerendgame.jpg);
}
.card:nth-child(odd){
  translate: 0 -20px;
}
.card:nth-child(even){
    translate: 0 20px;
}
.container:hover>card:not(:hover){
    filter: grayscale(100%);
}

.card:hover{
    flex: 3;
}
.card:hover>*{
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.577);
    padding: 10px;
    border-radius: 5px;
}